{{>layout/header}}  <!--현재 mustache파일(index.mustache)을 기준으로 다른 파일을 가져옴-->
<!--라이브러리를 비롯해 기타 HTML 태그들이 모두 레이아웃에 추가되니 index.mustache에는 필요한 코드만 남게 됨-->
<h1>SpringBoot board</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userName}}   <!--mustache는 if문 없음 true/false만 판단 -> 항상 최종값 넘겨줘야함-->
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>  <!--spring security에서 기본적으로 제공하는 로그아웃 url (개발자가 저 url에 해당하는 controller만들 필요 X, SecurityConfig class에서 변경 가능-->
            {{/userName}}
            {{^userName}}   <!--mustache에서 해당 값이 없는 경우 ^사용, userName이 없다면 로그인 버튼 노출-->
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>        <!--application-oauth.properties에서 redirect-url에 맞춰 자동으로 등록 /oauth2/authorization/까지는 고정, 마지막 path만 각 소셜 로그인 코드를 사용(naver)-->
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}  <!--posts라는 List를 순회, java의 for문과 동일-->
            <tr>
                <td>{{id}}</td> <!--List에서 뽑아낸 객체의 필드를 사용-->
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>       <!--해당 게시글의 수정화면으로 이동-->
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}